// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #888888;
$light-gray: #F4F4F4;
$white: #FFFFFF;

// Brand colors
$brand-green: #8FB171;
$brand-green-font: #496135;
$brand-green-background: #D3E8BE;
$brand-dark-green-background: #C7E7A9;
