.product-section {
  margin-bottom: 30px;
}

.product-header {
  margin-top: 30px;
  h3 {
    color: $brand-green;
    font-size: 21px;
  }
  .product-image-quantity {
    img {
      height: 135px;
      width: 185px;
    }
    display: flex;
    justify-content: space-between;
  }
}

h4.sub-heading {
  color: $brand-green;
  font-size: 14px;
}

.product-review {
  .rating-stars{
    display:flex
  }
  h6 {
    color: #5A5A5A;
    font-size: 16px;
  }
  .avatar-rating {
    display: flex;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .stars-nickname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }
}
