<%= simple_form_for [ @product, Quantity.new ], method: :post, remote: true, wrapper_html: {class: "form-inline"} do |f| %>
  <div class="product-quantity">
    <%= f.input :quantity, input_html: { value: 1 }, label: false %>
    <%= f.submit 'Add to cart', class: 'quantity-button' %>
  </div>
<% end %>
