<div class="recipes-container">
  <div class="product-cards container">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe.url do %>
        <div class="product-card recipe-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path recipe.image_url, crop: :fill, width: 360 %>')">
          <%= recipe.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
