<div class="search-form-wrapper">
  <%= form_tag products_path, id: "form_id", method: :get do %>
    <div class="d-inline-block search-form">
      <%= text_field_tag :query,
        params[:query],
        class: "search-input",
        placeholder: "Find a product"
      %>
      <%= button_tag(type: "submit", class: "search-form-button") do %>
        <i class="fa fa-search icon"></i>
      <% end %>
    </div>
  <% end %>
  <div id="autocomplete-suggestions"></div>
</div>
