<div class="banner">
  <h1>
    <span class='leaf'>🌱</span>Plant<span>ernative</span>
  </h1>
  <p>Keep calm, plants do have protein</p>
  <%= render 'shared/search_form' %>
</div>

<div class="landing-page-container">
  <div class="landing-page-cards">
    <div class="landing-page-card">
      <span>🌾</span>
      <h2>Explore</h2>
      <p>Browse through a wide range of plant-based products</p>
    </div>
    <div class="landing-page-card">
      <span>🌻</span>
      <h2>Discover</h2>
      <p>Be inspired by our Planternative community blogs</p>
    </div>
    <div class="landing-page-card">
      <span>🌿</span>
      <h2>Change</h2>
      <p>See what positive impact your choices have on our planet</p>
    </div>
    <div class="landing-page-card">
      <span>🎋</span>
      <h2>Discuss</h2>
      <p>Browse through a wide range of plant-based products</p>
    </div>
  </div>
</div>

<div class="footer-style">
  <div class="footer-contents">
    <p>Anything you want to share with us?</p>
    <h3>Contact us</h3>
    <%= icon("fa", "facebook-square") %>
  </div>
</div>
