<div class="banner">
  <h1>Planternative</h1>
  <%= render 'shared/search_form' %>
</div>

<div class="cards">
  <div class="card">
    <h2>Explore</h2>
    <p>Browse through a wide range of plant-based products</p>
  </div>
  <div class="card">
    <h2>Explore</h2>
    <p>Browse through a wide range of plant-based products</p>
  </div>
  <div class="card">
    <h2>Explore</h2>
    <p>Browse through a wide range of plant-based products</p>
  </div>
  <div class="card">
    <h2>Explore</h2>
    <p>Browse through a wide range of plant-based products</p>
  </div>

</div>
