.banner {
  text-align: center;
  height: 40vh;
  padding: 20px 0;
  h1 {
    color: $brand-green;
    font-weight: bolder;
    position: relative;
    span {
      color: $gray;
      font-weight: normal;
    }
    .leaf {
      position: absolute;
      top: -25px;
      left: 90px;
    }
  }
  p {
    color: rgb(100,100,100);
    font-size: 18px;
    margin-bottom: 40px;
  }
}

@media (min-width: 550px) {
  /* For a screen > 550px, this CSS will be read */
  .banner {
    .leaf {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      text-align: center;
    }
  }
}
