.myprofile-section{
  margin: 0 auto;
  padding: 10px;
}
.my-eco-score{
  margin: 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eco-score{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sum-saved{
  display: flex;
  flex-direction: column;
  p{
    padding: 0;
    margin: 0;
  }
}

h5{
  font-style: normal;
  font-size: 20px;
  line-height: 16px;
  color: #8FB171;
}

.emoji{
  background-color: rgba(0,0,0,0.1);
  position: relative;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  p{
    font-size: 32px;
    position: absolute;
    left: 6px;
    .drop{
      font-size: 50px;
    }
  }
}

.activity-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.activity-box{
  margin-top: 5px;
  display: flex;
  align-items: top;
}

.count{
  font-size: 40px;
}

.activity{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  margin: 0;
  margin-left: 10px;
  line-height: 0;
  padding-top: 7px;
}

a{
  color: #8FB171;
  font-weight: light;
  font-size: 14px;
}

.edit-profile{
  a{
    color: grey;
  }
}
