.green-header {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #8FB171;
  margin-top: 15px;
  margin-left: 5px;
}

.mar-bottom {
  margin-bottom: 30px;
}

.table-header {
  font-weight: lighter;
  font-size: 14px;
}

.center {
  text-align: center;
}

.empty-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    font-size: 14px;
    font-weight: lighter;
    a {
      text-decoration: none;
    }
  }
}
