.landing-page-container {
  width: 100%;
  position: relative;
  padding-bottom: 80px;
  &:after {
    background-color: $brand-green-background;
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 115px);
    top: 115px;
    left: 0;
    z-index: -1;
  }
}
.landing-page-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  .landing-page-card {
    height: 220px;
    background-color: white;
    justify-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    border-radius: 16px;
    box-shadow: 1px 1px 5px rgb(200,200,200);
    padding: 10px;
    position: relative;
  }
  h2 {
    background-color: $brand-green;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    padding: 6px 0;
  }
  p {
    color: #888888;
    font-size: 11px;
  }
  span {
    font-size: 66px;
    position: absolute;
    top: 26px;
    left: 30px;
  }
}

@media (min-width: 550px) {
  /* For a screen > 550px, this CSS will be read */
  .landing-page-container {
    height: 45vh;
  }
  .landing-page-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
    .landing-page-card {
      width: 100%;
      span {
        top: 30px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
