.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-product {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

@media (min-width: 800px) {
  #map {
    height: 450px;
  }
}

.map-sl-page{
  margin: 0 15px;
  padding-top: 20px;
  height: 380px;
}
