.navbar-lewagon {
  justify-content: space-between;
  background: white;
  align-items: center;
  a {
    color: rgb(60,60,60);
    text-decoration: none;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  position: absolute;
  top: 80px;
  height: 60vh;
  width: 100%;
  z-index: 2;
  margin: -16px;
  background-color: rgb(255,255,255);
  text-align: center;
  font-size: 20px;
  .avatar {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@media (min-width: 550px) {
  /* For a screen > 550px, this CSS will be read */
  .navbar-lewagon .navbar-collapse {
    width: 20%;
    margin-left: 80%;
  }
}


