.product-quantity {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  height: 100%;
  justify-content: center;
}

.quantity-button {
  background-color: $brand-green;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: none;
}
