.search-form {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgb(200,200,200);
  border: none;
  .search-form-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 52px;
    color: #FFFFFF;
    background: $brand-green;
    border: none;
  }
  .search-input {
    width: 80vw;
    background-color: $light-gray;
    border:none;
    padding: 25px;
    height: 40px;
  }
  i {
    font-size: 23px;
  }
}

