.search-form {
  position: relative;
  .search-form-button {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #FFFFFF;
    background: $brand-green;
    border-radius: 8px;
  }
}

.search-input {
  border-radius: 20px;
  width: 80vw;
  background-color: $light-gray;
  border: 1px solid $light-gray;
  padding: 25px;
  box-shadow: 1px 1px 10px rgb(200,200,200);
  height: 40px;
}
