.styled-table {
  width: 100%;
  tr {
    padding: 5px;
    border-bottom: .5px solid #EBEBEB;
    display: flex;
    justify-content: space-between;
  }
  tr.quantity-row {
    border-bottom: none;
  }
  a {
    text-decoration: none;
  }
}
.sl-table{
  .form-control.is-valid {
    border-color: #EBEBEB !important;
    background-image: none !important;
  }
  .form-group{
    margin: 3px !important;
  }
  .table-bin{
    display: flex;
    align-items: center;
    padding-right: 3px;
  }
  .green-link{
    a{
      color: #8FB171;
      font-weight: lighter;
      font-size: 16px;
    }
  }
}

.quantity_quantity {
  width: 80px ;
  #quantity_quantity {
    text-align: center;
    padding: 3px;
  }
}

.quantity-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopping-list-stores {
  font-size: 13px;
}

.name-table{
  width: 150px;
}

@media (min-width: 500px) {
  .quantity-form {
    width: 60px ;
  }
}
